.detail__wrap {
    width: 800px;
    margin: 20px auto;
    padding: 15px 20px;
    border-radius: 8px;
    border: 1px solid rgb(243, 240, 255);
    background: rgb(247, 246, 255);

    .detail__title {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e1e1e1;

        h3 {
            margin-bottom: 10px;
            color: rgb(100, 70, 255);
        }

        .auth {
            font-size: 14px;
            color: #ababab;
            position: relative;
            padding-left: 30px;

            &::before {
                content: '';
                width: 20px;
                height: 20px;
                background-color: rgb(100, 70, 255);
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 50%;
            }
        }
    }

    .detail__content {
        min-height: 500px;
        color: #6c6c6c;
        word-break: keep-all;
    }

    .detail__btn {
        text-align: right;

        button,
        a {
            border: 1px solid rgb(100, 70, 255);
            color: rgb(100, 70, 255);
            border-radius: 50px;
            padding: 10px 20px;
            margin: 0 5px;

            &:hover {
                background: rgb(100, 70, 255);
                color: var(--white);
                cursor: pointer;
            }
        }
    }
}